h2, h5{
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px;
}

p{
    font-size: 1rem ;
}

.btn{
    font-size:16.005px !important;
    letter-spacing: 2px;
}

a{
    text-decoration: none !important;
}

@media only screen and (max-width: 996px) {
    footer {
      background-color: white !important;
    }
  }