{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
.divid{
    background-color: white;
    border:1px solid black;
    display: block !important;
    font-size: larger;
    padding: 3px;
    font-weight: bold;
    letter-spacing: 0.1ch;
}
</style>
{% endblock %}
{% block body_content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h1>Welcome Doctor</h1>
        </div>
        <div class="col-6 text-end pt-3">
            <a href="../logout" style="text-decoration: underline !important;">Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-8 p-4 ps-3">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Doctor ID" readonly>
                    </div>
                    <div class="col-6">
                        <input type="text" id="p_name" class="form-control" placeholder="Patient Name" required>
                        <div class="col-3" id="pdata" style="z-index: 999; position:absolute; display: none;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control mt-3" placeholder="Disease" required>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control mt-3" placeholder="Symptoms" required>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-8">
                        <h5><strong>MEDICINE NAME</strong></h5>
                        <input type="text" class="form-control mt-3" placeholder="Rx" required>
                    </div>
                    <div class="col-4">
                        <h5><strong>TIME</strong></h5>
                        <select class="form-control mt-3">
                            <option value="OD">OD</option>
                            <option value="BD">BD</option>
                            <option value="TDS">TDS</option>
                            <option value="HS">HS</option>
                            <option value="SOS">SOS</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control mt-3" placeholder="Rx" required>
                    </div>
                    <div class="col-4">
                        <select class="form-control mt-3">
                            <option value="OD">OD</option>
                            <option value="BD">BD</option>
                            <option value="TDS">TDS</option>
                            <option value="HS">HS</option>
                            <option value="SOS">SOS</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control mt-3" placeholder="Rx" required>
                    </div>
                    <div class="col-4">
                        <select class="form-control mt-3">
                            <option value="OD">OD</option>
                            <option value="BD">BD</option>
                            <option value="TDS">TDS</option>
                            <option value="HS">HS</option>
                            <option value="SOS">SOS</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control mt-3" placeholder="Rx" required>
                    </div>
                    <div class="col-4">
                        <select class="form-control mt-3">
                            <option value="OD">OD</option>
                            <option value="BD">BD</option>
                            <option value="TDS">TDS</option>
                            <option value="HS">HS</option>
                            <option value="SOS">SOS</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 pt-3 text-end">
                    <button class="btn p-2 px-4" style="background-color:#1aa7ec; color: #fff;">SAVE</button>       
                    </div>
            </form>
        </div>
        <div class="col-4 text-end pt-3">
            <div class="col-12">
                <a href="#">Patient History</a>
            </div>
            <div class="col-12">
                <a href="#">Patient Reports</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(
        function(){
        $('#p_name').bind({
        keyup:function(){
            var p_name = $(this).val();
            $.ajax({
                url: "http://127.0.0.1:8000/reception/patient-list?p_name="+p_name,
                success: function(result){
                    var arr_len = result.length;
                    var table = $('#pdata');
                    var tabdata = "";
                    var optionaldata = "<option>No Match</option>"
                    $.each(result,function(i,data){
                        tabdata = tabdata + "<p class='arrdata'>" + data.name + "</p>"
                    });
            
            if(arr_len>0){
                    table.html(tabdata).addClass('divid');
            }
            else{
                table.html('').removeClass('divid');
            }
            }
            });
        }
        
    });

    $('p.arrdata').hover(function(){
        alert('this');
    });
});

</script>
{% endblock %}