{% extends 'base.html' %}
{% load static %}
{% block body_content %}
<div class="col-12">
    <div class="container py-5 mt-2">
        <div class="row text-center">
            <h1 class="text-uppercase">Healthcare Hospital Reception</h1>
            <ul class="d-flex justify-content-center" style="list-style-type: none;">
                <li class="text-dark">
                    <a href="../">Register New Patient</a>&numsp;|
                    <a href="../reception/doctor/">Register New Doctor</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 p-5 text-start pr-div">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-12 pt-3">
                        <label class="form-control-label">Patient's name</label>
                        <input class="form-control" type="text" id="pname" name="pname" placeholder="Enter patient's name"
                            pattern="(^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$)" title="Example- Ankit Kumar" required>
                    </div>

                    <div class="col-12 pt-3">
                        <label class="form-control-label" id="labelgender">Gender</label>
                        <div style="background-color: white; border-radius: 5px; border: 2px solid #ccc;">
                            <ul class="form-control-label"
                                style="list-style-type: none; display: inline; color: gray; font-weight: lighter; text-align: left;">
                                <li class="col-6 ps-3"><input type="radio" id="pgender" name="pgender" value="Male"
                                        required> Male </li>
                                <li class="col-6 ps-3"><input type="radio" id="pgender" name="pgender" value="Female"
                                        required> Female
                                </li>
                                <li class="col-6 ps-3 pb-4"><input type="radio" id="pgender" name="pgender"
                                        value="Other" required> Other
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 pt-3">
                        <label class="form-control-label">DOB</label>
                        <input class="form-control" type="date" id="pdob" name="pdob" required>
                    </div>
                    <div class="col-12 pt-3">
                        <label class="form-control-label">Contact</label>
                        <input class="form-control" type="text" id="pmob" name="pmob" placeholder="Contact Number" maxlength="10" minlength="10" required>
                    </div>
                    <div class="col-12 pt-3 text-end">
                        <button type="submit" id="subBtn" class="btn-block px-4 py-3">SUBMIT</button>
                    </div>
                </form>

            </div>

            <div class="col-3">
            </div>
        </div>
    </div>

</section>

{% endblock %}