{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/receptionstyle.css' %}">
{% endblock %}

{% block body_content %}
    <div style="background-color: rgba(0, 0, 0, 0.02);">
        <div class="container py-5 mt-2">
            <div class="row text-center">
                <h1 class="text-uppercase display-6">Healthcare Hospital Reception</h1>
                <ul class="d-flex justify-content-center" style="list-style-type: none;">
                    <li class="text-dark">
                        <a href="../">Register New Patient</a>&numsp;|
                        <a href="../reception/doctor/">Register New Doctor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex">
            <div class="col-xl-5 col-lg-5 col-md-6 col-12 text-start card">
                <div class="pb-5">     
                  <form id="patientRegForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="p-5">
                        <div class="form-group col-lg-12 col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">Patient's name</label>
                                <input type="text" id="pname" name="pname" placeholder="Enter patient's name" pattern="(^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$)" title="Example- Ankit Kumar" required>
                        </div>
                        <div class="form-group col-lg-12 col-sm-12 flex-column d-flex py-3">
                                <label class="form-control-label px-3" id="labelgender">Gender</label>
                                <div style="background-color: white; border-radius: 5px; border: 2px solid #ccc;">
                                    <ul class="form-control-label" style="list-style-type: none; display: inline; color: gray; font-weight: lighter; text-align: left;">
                                        <li class="col-6 ps-3"><input type="radio" id="gender" name="gender" value="Male"  required> Male </li>
                                        <li class="col-6 ps-3"><input type="radio" id="gender" name="gender" value="Female"  required> Female
                                        </li>
                                        <li class="col-6 ps-3 pb-4"><input type="radio" id="gender" name="gender" value="Other"  required> Other
                                        </li>
                                    </ul>
                                </div>
                        </div>
                        <div class="form-group col-lg-12 col-sm-12 flex-column d-flex py-3">
                                <label class="form-control-label px-3">Date of birth</label>
                                <input class="mb-3" type="date" id="dob" name="dob" required>
                                <label class="form-control-label px-3">Contact</label>
                                <input type="text" id="mob" name="mob" placeholder="[+code] contact number" pattern="[+]{1}[0-9]{11,14}" title="Example- +918767785903" required>
                        </div>
                    
                         <div class=" text-left py-3">
                                <div style="float: right;">
                                    <button type="submit" id="subBtn" class="btn-block px-4 py-3">SUBMIT</button>
                                </div>
                        </div>
                        
                    </div>
                </form>
                </div>
            </div>
            
            <div class="col-xl-7 col-lg-7 col-md-6 col-0">
                <div class="text-center card-copy">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;">
    
    </div>
{% endblock %}