{% extends 'base.html' %}
{% load static %}
{% block body_content %}
<div class="col-12">
    <div class="container py-5 mt-2">
        <div class="row text-center">
            <h1 class="text-uppercase">Healthcare Hospital Reception</h1>
            <ul class="d-flex justify-content-center" style="list-style-type: none;">
                <li class="text-dark">
                    <a href="/reception/">Register New Patient</a>&numsp;|
                    <a href="../reception/doctor/">Register New Doctor</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 p-5 text-start pr-div">
                <form id="patientRegForm" method="post">
                    {% csrf_token %}
                    <div class="form-group col-12 flex-column d-flex pt-3">
                        <label class="form-control-label">Patient's name</label>
                        <input type="text" id="pname" name="pname" placeholder="Enter patient's name"
                            pattern="(^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$)" title="Example- Ankit Kumar" required>
                    </div>

                    <div class="form-group col-12 flex-column d-flex col-12 pt-3">
                        <label class="form-control-label" id="labelgender">Gender</label>
                        <div style="background-color: white; border-radius: 5px; border: 2px solid #ccc;">
                            <ul class="form-control-label" style="list-style-type: none; display: inline; color: gray; font-weight: lighter; text-align: left;">
                                <li class="col-6 ps-3"><input type="radio" id="pgender" name="pgender" value="Male" required> Male </li>
                                <li class="col-6 ps-3"><input type="radio" id="pgender" name="pgender" value="Female" required> Female</li>
                                <li class="col-6 ps-3 pb-4"><input type="radio" id="pgender" name="pgender" value="Other" required> Other</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-12 flex-column d-flex pt-3">
                        <label class="form-control-label">Date of birth</label>
                        <input type="date" id="pdob" name="pdob" required>
                    </div>
                    <div class="form-group col-12 flex-column d-flex pt-3">
                        <label class="form-control-label">Department</label>
                        <div class="form-control" style="background-color: white; border-radius: 5px; border: 2px solid #ccc;">
                        <select class="dropdown" id="dept" name="department" style="border:0; width: 92%; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; font-size: 18px !important; font-weight: 300">
                        
                        </select>
                        </div>
                    </div>
                    <div class="form-group col-12 flex-column d-flex pt-3">
                        <table id="tabid">

                        </table>
                    </div>
                    <div class="form-group col-12 flex-column d-flex pt-3">
                        <label class="form-control-label">Contact</label>
                        <input type="email" id="pmail" name="pmail" placeholder="Email ID" required>
                    </div>
                    <div class="form-group col-12 pt-3 text-end">
                        <button type="submit" id="subBtn" class="btn-block px-4 py-3">SUBMIT</button>
                    </div>
                    
                </form>

            </div>

            <div class="col-3">
            </div>
        </div>
        <div style="height:100px;">

        </div>
    </div>

</section>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(
function(){
        $.ajax({
            url: "http://127.0.0.1:8003/reception/department",
            success: function(result){
                var dep = $('#dept');
                var op = '<option selected disabled>Select</option>';
                $.each(result,function(i,data){
                    op = op + '<option>' + data + '</option>'
                });
                dep.html(op);
            }
        });
        $('#dept').change(
            function(){
            var dep_name = $('#dept').val();
            $.ajax({
                url: "http://127.0.0.1:8003/reception/doctor-list?dep_name="+dep_name,
                success: function(result){
                    var table = $('#tabid');
                    var tabdata = "<tr><th>Name</th></tr>";
                    $.each(result,function(i,data){
                        tabdata = tabdata + "<tr><td>" + data.name + "</td></tr>"
                    });
                    table.html(tabdata);
                }
            });
        });
});

</script>

{% endblock %}